/*====================================*/

/*        -EMIRATES GRAPHIC-          */

/*        emiratesgraphic.com         */

/*====================================*/



/*====================*/
/*       FONTS        */
/*====================*/


@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.otf');
 }
 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf');
 }
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../fonts/Montserrat-UltraLight.otf');
 }
@font-face {
  font-family: 'PlayfairDisplay-BlackItalic';
  src: url('../fonts/PlayfairDisplay-BlackItalic.otf');
 }
 @font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay-Italic.otf');
 }
 @font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.otf');
 }

.small-horizontal_padding {
  padding: 0px 7px;
}

.no-pading {
  padding: 0px;
}
.active4 {
    opacity: 1 !important;
    border-bottom: solid 3px rgba(255, 255, 255, 0.79);
}
button:active {
  outline: none !important;
}
button:focus {
  outline: none !important;
}

.galery-padding {
  padding: 0px 3px; 
}

/*
///////////////////////////////////////////////////
First Section Cover Image, Text, Button 
///////////////////////////////////////////////////
*/

.first_section {
  background-image: url('../img/cover/galery_cover-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 200px 0px 230px;
  background-position: 30% 0%;
  background-attachment: fixed;
}

.cover_text {
  text-align: center;
}

.cover_text p {
  color: white;
  opacity: 0.7; 
  font-family: 'Montserrat-Black';
  font-size: 14px;
}
.cover_text h1 {
  color: white;
  opacity: 0.9;
  font-family: 'PlayfairDisplay-BlackItalic';
  margin-top: 5px;
  font-size: 75px;
}
.cover_text button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Black';
  padding: 10px 20px;
  width: 150px;
  border: none;
  border-radius: 20px; 
  margin-top: 30px;
}

/*
///////////////////////////////////////////////////
Galery 
///////////////////////////////////////////////////
*/
.galery-title {
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: 'PlayfairDisplay-Italic';
  font-size: 45px; 
  text-align: center;
}
.iso-box img {
  width: 100% !important;
  margin: 3px 0px;
}

.iso-section {
  padding: 40px 0px;
}
