/*====================================*/

/*        -EMIRATES GRAPHIC-          */

/*        emiratesgraphic.com         */

/*====================================*/



/*====================*/
/*       FONTS        */
/*====================*/


@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.otf');
 }
 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf');
 }
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../fonts/Montserrat-UltraLight.otf');
 }
@font-face {
  font-family: 'PlayfairDisplay-BlackItalic';
  src: url('../fonts/PlayfairDisplay-BlackItalic.otf');
 }
 @font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay-Italic.otf');
 }
 @font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.otf');
 }

.small-horizontal_padding {
  padding: 0px 7px;
}

.no-pading {
  padding: 0px;
}

button:active {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
/*
///////////////////////////////////////////////////
First Section Cover Image, Text, Button 
///////////////////////////////////////////////////
*/

.first_section {
  background-image: url('../img/cover/utopia hero image-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 200px 0px 230px;
  background-position: 30% 0%;
  background-attachment: fixed;
}

.cover_text {
  text-align: center;
}

.cover_text p {
  color: white;
  opacity: 0.7; 
  font-family: 'Montserrat-Black';
  font-size: 14px;
}
.cover_text h1 {
  color: white;
  opacity: 0.9;
  font-family: 'PlayfairDisplay-BlackItalic';
  margin-top: 5px;
  font-size: 75px;
}
.cover_text button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Black';
  padding: 10px 20px;
  width: 150px;
  border: none;
  border-radius: 20px; 
  margin-top: 30px;
}


/*
///////////////////////////////////////////////////
Sectond Section Icons + Text  2
///////////////////////////////////////////////////
*/


.second_section {
  padding: 40px 0px;
}

.section-2_title {
  padding: 0px 0px 20px;
  text-align: center;
}
.section-2_title h1 {
  margin-top: 0px;
  font-family: 'PlayfairDisplay-Italic';
  font-size: 45px;
}
.section-2_title p {
  color: #b3b3b3;
}

.second_section img {
  width: 70px;
}

.second_section h4 {
  font-family: 'Montserrat-Black';
  color: #2a3249;
  font-size: 25px;
}

.second_section p {
  font-family: "Montserrat-UltraLight";
  color: #808080;
  font-size: 12px;
  padding: 20px 0px;
}

.second_section button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Regular';
  padding: 5px 10px;
  width: 170px;
  border: none;
  border-radius: 20px; 
}

/*
///////////////////////////////////////////////////
  Facts Section Homepage
///////////////////////////////////////////////////
*/


.facts-section {
  background-image: url('../img/cover/facts_cover-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 90px 0px;
}

.facts-section img {
  width: 270px;
}

.facts-section h1 {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 90px;
}

.facts-section span {
  font-family: 'Montserrat-UltraLight';
}


/*
///////////////////////////////////////////////////
About Us on Homepage Section
///////////////////////////////////////////////////
*/


.services-second_section {
  padding: 40px 0px 0px;
}

.section-2_title {
  padding: 0px 0px 20px;
  text-align: center;
}
.section-2_title h1 {
  margin-top: 0px;
  font-family: 'PlayfairDisplay-Italic';
  font-size: 45px;
}
.section-2_title p {
  color: #b3b3b3;
}

.second_section h4 {
  font-family: 'Montserrat-Black';
  color: #2a3249;
  font-size: 25px;
}
.section-2_text {
  text-align: center;
}
.section-2_text p {
  font-family: "Montserrat-UltraLight";
  color: #808080;
  font-size: 15px;
  padding: 10px 0px;
}

.section-2_text button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Regular';
  padding: 5px 10px;
  width: 150px;
  border: none;
  border-radius: 20px; 
  margin-top: 30px;
}

/*
///////////////////////////////////////////////////
  Portfolio Section Homepage
///////////////////////////////////////////////////
*/
.portfolio_section {
  padding-bottom: 50px;
}
.portfolio-section_title {
  padding: 30px 0px;
  text-align: center;
}

.portfolio-section_title h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'PlayfairDisplay-Italic';
  font-size: 45px;  
}

.portfolio-section_title p{
  color: #b3b3b3;
  font-size: 12px;
  font-family: "Montserrat-UltraLight"; 
}


/*
///////////////////////////////////////////////////
  Testimonials Section Homepage
///////////////////////////////////////////////////
*/
.testimonials_section {
  padding: 60px 0px;
  text-align: center;
  background-color: #f2f2f2;
}

.testimonials_section h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'PlayfairDisplay-Italic';
  font-size: 45px; 
}
.testimonials_section span {
  color: #b3b3b3;  
  font-family: "Montserrat-Light";
}

.testimonials_section p {
  color: #b3b3b3;
  font-size: 12px;
  font-family: "Montserrat-UltraLight";
}

.horizontal_padding-testimonial {
  padding: 0px 10px;
  margin: 10px 0px;
}
.panel-testimonial1 img {
  border-radius: 150px;
  padding: 10px;
  width: 250px;
  margin-bottom: -120px;
  background: transparent;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  transition: ease-in-out 0.3s all;
}
.panel-testimonial1:hover img {
    -webkit-filter: grayscale(0%);
    background: white;
}
.panel-testimonial1 .testimonial_text {
  border-radius: 20px;
  background-color: transparent;
  padding: 20px;
  transition: ease-in-out all 0.3s;
}
.panel-testimonial1:hover .testimonial_text {
  background-color: white;
}
.testimonial_text h1 {
  margin-top: 95px;
}
/*
** Testimonials on Mobile Devices 
*/




/*
///////////////////////////////////////////////////
Responsive Part 
///////////////////////////////////////////////////
*/

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
    .cover_text h1 {
      font-size: 40px;
    }

    /*    Second Section    */

    .section-2_title {
      padding-bottom: 20px;
    }
    .second_section {
      text-align: center;
    }
    .second_section .col-md-4 {
      margin-top: 30px;
    }

    /*    Testimonial Mobile    */

    .section-3_title {
      padding: 30px 0px;
    }
    .owl-theme .owl-controls .owl-page span {
      display: block;
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      filter: Alpha(Opacity=50);
      opacity: 0.5;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: #f5cf3f !important;
    }
    .horizontal_padding-testimonial {
      padding: 10px 30px;
    }
    .contact-form_text p {
      text-align: center;
    }
    .contact-form_text h1 {
      font-size: 40px;
      text-align: center;
    }
}