/*====================================*/

/*        -EMIRATES GRAPHIC-          */

/*        emiratesgraphic.com         */

/*====================================*/



/*====================*/
/*       FONTS        */
/*====================*/


@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.otf');
 }
 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf');
 }
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../fonts/Montserrat-UltraLight.otf');
 }
@font-face {
  font-family: 'PlayfairDisplay-BlackItalic';
  src: url('../fonts/PlayfairDisplay-BlackItalic.otf');
 }
 @font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay-Italic.otf');
 }
 @font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.otf');
 }

.small-horizontal_padding {
  padding: 0px 7px;
}

.no-pading {
  padding: 0px;
}

.active2 {  
    opacity: 1 !important;
    border-bottom: solid 3px rgba(255, 255, 255, 0.79);
}
/*
///////////////////////////////////////////////////
First Section Cover Image, Text, Button 
///////////////////////////////////////////////////
*/

.first_section {
  background-image: url('../img/cover/services_cover-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 200px 0px 170px;
  background-position: 30% 0%;
  background-attachment: fixed;
}

.cover_text {
  text-align: center;
}

.cover_text p {
  color: white;
  opacity: 0.7; 
  font-family: 'Montserrat-Black';
  font-size: 14px;
}
.cover_text h1 {
  color: white;
  opacity: 0.9;
  font-family: 'PlayfairDisplay-BlackItalic';
  margin-top: 5px;
  font-size: 75px;
}
.cover_text button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Black';
  padding: 10px 20px;
  width: 150px;
  border: none;
  border-radius: 20px; 
  margin-top: 30px;
}


/*
///////////////////////////////////////////////////
Sectond Section Title and Text + Button
///////////////////////////////////////////////////
*/


.services-second_section {
  padding: 40px 0px;
}

.section-2_title {
  padding: 0px 0px 20px;
  text-align: center;
}
.section-2_title h1 {
  margin-top: 0px;
  font-family: 'PlayfairDisplay-Italic';
  font-size: 45px;
}
.section-2_title p {
  color: #b3b3b3;
}

.second_section h4 {
  font-family: 'Montserrat-Black';
  color: #2a3249;
  font-size: 25px;
}
.section-2_text {
  text-align: center;
}
.section-2_text p {
  font-family: "Montserrat-UltraLight";
  color: #808080;
  font-size: 15px;
  padding: 10px 0px;
}

.section-2_text button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Regular';
  padding: 5px 10px;
  width: 150px;
  border: none;
  border-radius: 20px; 
  margin-top: 30px;
}

/*
///////////////////////////////////////////////////
Images, icon, text + button
///////////////////////////////////////////////////
*/

.section2-image img {
  width: 100%;
}


.section2-text-etc {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
}

.section2-text-etc img{
  width: 70px;
}
.section2-text-etc h4 {
  font-family: 'Montserrat-Black';
  color: #2a3249;
  font-size: 25px;
  opacity: 0.9;
}
.section2-text-etc p{
  font-family: "Montserrat-UltraLight";
  color: #808080;
  font-size: 14px;
}

.section2-text-etc button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Regular';
  padding: 5px 10px;
  width: 150px;
  border: none;
  border-radius: 20px; 
  margin-top: 30px;  
}

.services_section3-text p{
  font-size: 20px;
}

/*
///////////////////////////////////////////////////
  Facts Section Homepage
///////////////////////////////////////////////////
*/


.facts-section {
  background-image: url('../img/cover/facts_cover-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 90px 0px;
}

.facts-section img {
  width: 270px;
}

.facts-section h1 {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 90px;
}

.facts-section span {
  font-family: 'Montserrat-UltraLight';
}
/*
///////////////////////////////////////////////////
Title and contact inputs  
///////////////////////////////////////////////////
*/
.upper-grid {
  text-align: center;
  background-color: white; /*
  margin-top: -60px;*/
  border-radius: 90px;
  padding: 20px 0px;
}

.upper-grid p {
    font-family: "Montserrat-UltraLight";
    color: #808080;
    font-size: 12px;
}
.upper-grid h1{
  font-family: 'PlayfairDisplay-Italic';
  font-size: 45px;
} 

/*
** Input Section on the bootom of the page//
*/

.input-grid {
  text-align: center;
  padding-bottom: 40px; 
}
.input-grid input {
  border: solid 2px #cccccc;
  width: 100%;
  margin: 7px 0px;
  padding: 10px;
  color: #cccccc;
}
.input-grid input:focus {
  outline: none;
}
.input-grid input:active {
  outline: none;
}
.input-grid textarea {
  width: 100%;
  border: solid 2px #cccccc;
  padding: 10px;
  color: #cccccc;
  resize: vertical;
}
.input-grid textarea:focus {
  outline: none;
}
.input-grid textarea:active {
  outline: none;
}

.submit-grid {
  text-align: left;
}

.input-grid button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Regular';
  padding: 5px 10px;
  width: 120px;
  border: none;
  border-radius: 10px; 
  height: 35px;
  margin-top: 20px;
}
.input-grid button:focus {
  outline: none;
}
.input-grid button:active {
  outline: none;
}


/*
///////////////////////////////////////////////////
Responsive Part 
///////////////////////////////////////////////////
*/

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
    .cover_text h1 {
      font-size: 40px;
    }
    .section-2_text p {
      padding: 10px 10px; 
      font-size: 11px;
    }
    .section2-text-etc {
      padding: 10px 10px;
    }
  }