/*====================================*/

/*        -EMIRATES GRAPHIC-          */

/*        emiratesgraphic.com         */

/*====================================*/



/*====================*/
/*       FONTS        */
/*====================*/


@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.otf');
 }
 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf');
 }
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../fonts/Montserrat-UltraLight.otf');
 }
@font-face {
  font-family: 'PlayfairDisplay-BlackItalic';
  src: url('../fonts/PlayfairDisplay-BlackItalic.otf');
 }
 @font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay-Italic.otf');
 }
 @font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.otf');
 }

.small-horizontal_padding {
  padding: 0px 7px;
}

.no-pading {
  padding: 0px;
}
/*
///////////////////////////////////////////////////
First Section Cover Image, Text, Button 
///////////////////////////////////////////////////
*/

.first_section {
  background-image: url('../img/cover/testimonials_cover-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 200px 0px 170px;
  background-position: 30% 0%;
}

.cover_text {
  text-align: center;
}

.cover_text p {
  color: white;
  opacity: 0.7; 
  font-family: 'Montserrat-Black';
  font-size: 14px;
}
.cover_text h1 {
  color: white;
  opacity: 0.9;
  font-family: 'PlayfairDisplay-BlackItalic';
  margin-top: 5px;
  font-size: 75px;
}
.cover_text button {
  background-color: #bc1f52;
  color: white;
  font-family: 'Montserrat-Black';
  padding: 10px 20px;
  width: 150px;
  border: none;
  border-radius: 20px; 
  margin-top: 30px;
}



/*
///////////////////////////////////////////////////
  Testimonials Section Homepage
///////////////////////////////////////////////////
*/
.testimonials_section {
  padding: 60px 0px;
  text-align: center;
  background-color: #f2f2f2;
}

.testimonials_section h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'PlayfairDisplay-Italic';
  font-size: 45px; 
}
.testimonials_section span {
  color: #b3b3b3;  
  font-family: "Montserrat-Light";
}

.testimonials_section p {
  color: #b3b3b3;
  font-size: 12px;
  font-family: "Montserrat-UltraLight";
}

.horizontal_padding-testimonial {
  padding: 0px 10px;
  margin: 10px 0px;
}
.panel-testimonial1 img {
  border-radius: 150px;
  padding: 10px;
  width: 250px;
  margin-bottom: -120px;
  background: transparent;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  transition: ease-in-out 0.3s all;
}
.panel-testimonial1:hover img {
    -webkit-filter: grayscale(0%);
    background: white;
}
.panel-testimonial1 .testimonial_text {
  border-radius: 20px;
  background-color: transparent;
  padding: 20px;
  transition: ease-in-out all 0.3s;
}
.panel-testimonial1:hover .testimonial_text {
  background-color: white;
}
.testimonial_text h1 {
  margin-top: 95px;
}




/*
///////////////////////////////////////////////////
  Facts Section Homepage
///////////////////////////////////////////////////
*/


.facts-section {
  /*background-image: url('../img/cover/facts_cover-01.png');*/
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #e6e6e6;
  padding: 90px 0px;
}

.facts-section img {
  width: 270px;
}

.facts-section h1 {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 90px;
}

.facts-section span {
  font-family: 'Montserrat-UltraLight';
}





/*
///////////////////////////////////////////////////
Responsive Part 
///////////////////////////////////////////////////
*/

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
    .cover_text h1 {
      font-size: 40px;
    }